# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secreto_largo_y_seguro_min_32_chars

# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret

# API Backend
NEXT_PUBLIC_API_URL=http://localhost:4000/api
API_URL=http://localhost:4000/api
